*{
    margin: 0;
    padding: 0;
}

.background-cake {   
    min-height:100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)) ,url(background-image.png);
    /* background-image: url(background-cake.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no repeat;
    position: relative;
    height: 100vh;
}

nav img {
    width: 160px;
    height: 130px;
    position:relative;
    left: 120px;
}

nav {
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6);
    border-bottom: 1px solid rgb(141, 141, 141);
    height: 120px;
    width: 100%;
    position: absolute;
    box-shadow: 5px 7px 10px rgb(19, 19, 19);
}

.nav-links {
    flex: 1;
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 2%;
    margin-left: 25%;
    color: rgb(224, 203, 82);
    
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 12px;
    position: relative;
    font-size: 20px;
}

.nav-links ul li a{
    color:rgb(224, 212, 98);
    text-decoration:none;
    padding: 50px;
}

.list-items{
    text-align: center;
    display: inline;
    bottom: 10px;
    top: 110px;
    width: 200px;
    list-style: none;
}

.list-items li{
    padding-left: 0px;
    line-height: 40px;
    transition: all 1.3s ease;
}

.list-items li:hover{
    border-bottom: 1px solid transparent;
    box-shadow: 0 0px 10px 3px #222;
  }

.list-items li a:hover{
    color: rgb(247, 143, 58);
  }



.row {
    display: flex;
    height: 80%;
    align-items: center;
    margin-left: 50%;
}

.profile {
    position: relative;
    top: 70%;
    margin-left: 10%;
    margin-bottom: -27%;
}  



.card {
    position: relative;
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 5px 10px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}

.card1 {
    background-image: url(shop.jpg);
}

.card2 {
    background-image: url(shop1.jpg);
}

.card3 {
    background-image: url(shop2.jpg);
}

.card4 {
    background-image: url(shop3.jpg);
}

.card:hover {
    transform: translateY(-10px);
}
